

<h2>NLP</h2>


<textarea cols=100 rows=4 id="text" name="text"></textarea>
<br />
<br />
<input type="button" value="Sentiment" id="sentimentButton" name="sentimentButton"/> <div id="sentiment" name="sentiment"></div>
<br />
<br />
<input type="button" value="Key Words" id="keyWordsButton"/> <div id="key_words" name="key_words"></div>
<br/><br/>
<input type="button" value="All" id="allButton"/> <div id="all" name="all"></div>
